<div id="page_wrapper">
  <div id="content">
    <h1>Career Summary</h1>
    <p>Highly trained, solution based, and goal oriented professional with exceptional communication skills. I have an excellent ability to learn and adapt quickly. Self-driven person who likes to progress with and learn new modern software technologies and methodologies. Excellent ability to work alongside a software team to build and enhance new web applications. </p>
  <h1>Professional Experience</h1>
    <h2>Health Risk Solutions – <i>November 2015 through Present</i></h2>
    <h3>Quality Assurance Analyst</h3>
    <ul>
      <li>Initializing, maintaining and conducting both regression and end to end automated testing scripts.</li> 
      <li>Working during release nights, running application testing scripts to ensure production quality code.</li>
      <li>Developing new automation testing scripts using VBScript and UFT.</li>
      <li>Developing and maintaining high level tests to ensure system functionality is working as expected.</li>
      <li>Working on an Agile Scrum Team with daily stand ups, ceremonies, and grooming sessions.</li> 
      <li>Collaborating with teams to modernize legacy software systems into new web technologies.</li>
      <li>Creating very detail oriented documentation spreadsheets to assist with application development efforts.</li>
      <li>Using SQL to query databases and confirm enhancements work as expected based off business requirements.</li> 
    </ul>
    <h2>Matrix Solutions - <i>December 2012 through October 2015</i></h2>
    <h3>Technical Analyst</h3> 
    <ul>
      <li>Maintaining a high-level knowledge of “Product Proficiency” with all existing and new product features.</li>
      <li>Assisting customers through phone, chat and email by troubleshooting and resolving technical issues.</li>
      <li>Using Matrix administration to handle activation, deactivation and modification requests.</li>
      <li>Building out mock ups and wire frames to improve front end user experience.</li>
      <li>Writing SQL queries and using JQuery in order to enhance upon current technical procedures.</li>
      <li>Using SQL Management Studio and the FTP Server to handle daily traffic files.</li>
      <li>Meticulously documenting, testing and reporting software issue “bugs” to our Product Team.</li>
      <li>Taking ownership of database SaaS build procedures including setup, mapping, importing and deployment.</li>
    </ul>

    <h1>Education</h1>
    <h2>ProTech Training Courses   -               December 2015</h2>
    <p>SQL and UFT</p>

    <h2>Indiana University of Pennsylvania   -             December 2012</h2>
    <p>B.S. Management Information Systems</p>

    <h1>Activities & Affiliations</h1>
    <h2>Pittsburgh Technology Meet Ups - August 2014 to Present</h2>
    <p>Actively attended technology events in Pittsburgh including, “Fall Picnic & Pitch Fest,” “Learn Ruby on Rails Firehose Weekend,” and “Code & Supply Build Nights.”</p>
      
    <h2>IUP Wrestling Club - October 2010 to March 2011</h2>
    <p>Took the initiative to start a wrestling club, form the club’s documents, seek a faculty member advisor and marke the organization.</p>

    <h2>Student Operations Management Club - October 2010 through March 2011</h2>
    <p>Assisted to get the club recognized by our university and its students, among the first persons to get involved. Using Adobe Photoshop, I designed a poster to display and promote the club.</p>   

  </div>
</div>