<div id="page_wrapper">
  <div id="content">
    <h1>Career Summary</h1>
    <p>Highly trained, solution based, and goal oriented professional with exceptional communication skills. I have an excellent ability to learn and adapt quickly. Self-driven person who likes to progress with and learn new modern software technologies and methodologies. Excellent ability to work alongside a software team to build and enhance new web applications. </p>
  <h1>Professional Experience</h1>
    <h2>Health Risk Solutions – <i>November 2015 through Present</i></h2>
    <h3>Quality Assurance Analyst</h3>
    
    <h2>Matrix Solutions - <i>December 2012 through October 2015</i></h2>
    <h3>Technical Analyst</h3> 
    

    <h1>Education</h1>
    <h2>ProTech Training Courses   -               December 2015</h2>
    <p>SQL and UFT</p>

    <h2>Indiana University of Pennsylvania   -             December 2012</h2>
    <p>B.S. Management Information Systems</p>

    <h1>Activities & Affiliations</h1>
    <h2>Pittsburgh Technology Meet Ups - August 2014 to Present</h2>
    <p>Actively attended technology events in Pittsburgh including, “Fall Picnic & Pitch Fest,” “Learn Ruby on Rails Firehose Weekend,” and “Code & Supply Build Nights.”</p>
      
    <h2>IUP Wrestling Club - October 2010 to March 2011</h2>
    <p>Took the initiative to start a wrestling club, form the club’s documents, seek a faculty member advisor and marke the organization.</p>

    <h2>Student Operations Management Club - October 2010 through March 2011</h2>
    <p>Assisted to get the club recognized by our university and its students, among the first persons to get involved. Using Adobe Photoshop, I designed a poster to display and promote the club.</p>   

  </div>
</div>