<div id="page_wrapper">
  <div id="contentabout">
    <h2>Welcome.</h2>
      <p>I am a self-taught programmer who also studied Management Information Systems in college.
      I am from Pittsburgh and went to Indiana University of Pennsylvania. </p>
      <p>My interests include playing music (guitar), boating/fishing and traveling.</p>
      <p>I hope you enjoy my site please feel free to take a look around. </p>
  </div>
</div>
