/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

html, body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

#contentabout {
  max-width: 600px;
  padding: 10px;
}
@media only screen and (min-width: 479px) {

  #sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #f5f7f9;
    padding: 7em 0 0 0;
    border-right: 1px solid #d6dce0;
    #logo {
      width: 225px;
      font-size: 0.9em;
      position: absolute;
      right: 0em;
      top: 1em;
    }
    #logo :hover {
      text-decoration: none;
      color: black;
    }
    ul {
      list-style: none;
      text-align: right;
      padding-right: 3em;
      .category {
        font-weight: 700;
        font-size: 0.8em;
        text-transform: uppercase;
        color: #33acb7;
      }
      li {
        padding: .5em 0;
        color: #9eafba;
        a {
          text-decoration: none;
          transition: all .4s ease;
          &:hover {
            color: #33acb7;
          }
        }
      }
      .active {
        a {
          color: #33acb7;
        }
      }
    }
    .sign_in {
      position: absolute;
      right: 3em;
      top: 80%;
      font-size: .8em;
      color: #9eafba;
    }
  }

  .button {
    outline: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    border-radius: 1.5em;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
      a {
        color: #33acb7 !important;
      }
    }
  }

  .clearfix:after {
     content: ".";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }

  #main_content {
    margin-left: 250px;
    #header {
      padding: 1em 3em;
      border-bottom: 1px solid #d6dce0;
      background: #f5f7f9;
      color: #9eafba;
      p {
        display: inline;
      }
      a {
        color: #9eafba;
        text-decoration: none;
      }
      .buttons {
        float: right;
        margin-top: -6px;
        .button {
          font-size: .8em;
          margin-left: .5em;
        }
      }
    }
    .post_wrapper {
      padding: 3em;
      border-bottom: 1px solid #d6dce0;
      .title {
        margin: 0;
        a {
          font-weight: 500;
          text-decoration: none;
          color: #2a2f35;
          font-size: 1.5em;
          &:hover {
            color: #33acb7;
          }
        }
      }
      .date_and_author {
        color: #9eafba;
        margin: .5em 0 0 0;
      }
    }
    #post_content {
      padding: 1em 3em;
      .title {
        font-weight: 500;
        text-decoration: none;
        color: #2a2f35;
        font-size: 2.5em;
        margin-bottom: 0;
      }
      .body {
        font-size: 1.1em;
        line-height: 1.75;
      }
      .date_and_author {
        color: #9eafba;
        margin: .5em 0 2em 0;
      }
      #comments {
        h2 {
          margin: 3em 0 1em 0;
          border-bottom: 1px solid #d6dce0;
          padding-bottom: 0.5em;
        }
        h3 {
          margin-top: 2em;
        }
        .comment {
          border-bottom: 1px solid #d6dce0;
          padding: 1.5em 2em;
          .clear_both {
            clear: both;
          }
          &:after {
            clear: both;
          }
          .comment_content {
            float: left;
            .comment_name {
              margin: 1em 0 0 0;
              font-size: 0.7em;
              text-transform: uppercase;
            }
            .comment_body {
              font-size: 1.2em;
              margin: 0.2em 0 0 0;
            }
            .comment_time {
              margin-top: 1.2em;
              font-size: .8em;
            }
          }
          .button {
            float: right;
          }
        }
        input[type="text"], textarea {
          width: 50%;
        }
      }
    }
    #page_wrapper {
      padding: 3em;
      #profile_image {
        //width: 300px;
        float: left;
        margin-right: 2em;
        img {
          width: 100%;
          border-radius: 0.35em;
        }
      }
      #content {
        h1 {
          font-weight: 500;
        }
        p {
          font-size: 1.1em;
          line-height: 1.75;
        }
        a {
          color: #33acb7;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
    .links {
      margin: 2em 0;
    }
    input[type="text"], input[type="email"], input[type="password"], textarea {
      width: 90%;
      border: 1px solid #d6dce0;
      border-radius: .35em;
      margin-top: 10px;
      padding: .5em 1em;
      line-height: 1.75;
    }
    input[type="text"] {
      height: 35px;
    }
    textarea {
      min-height: 180px;
    }
    input[type="submit"] {
      outline: none;
      background: transparent;
      border: 1px solid #d6dce0;
      padding: .5em 1.5em;
      font-size: 1.1em;
      border-radius: 1.5em;
      margin-left: .5em;
      &:hover {
        border: 1px solid #33acb7;
        color: #33acb7;
      }
    }
  }

  #opennav {
      display: none !important;
  }

  .closebtn {
      display: none !important;
  }
}

@media only screen and (max-width: 479px) {
    body {
      position: absolute;
      width: 100%;
      background: #f5f7f9;
      text-align: center;
    }

    #sidebar {
      text-decoration: none;
      #logo {
      }
      ul {
      list-style: none;
      text-align: left;
      .category {
        font-weight: 500;
        font-size: 0.8em;
        text-transform: uppercase;
        color: #33acb7;
      }
      li {
        padding: .5em 0;
        color: #9eafba;
        a {
          text-decoration: none;
          transition: all .4s ease;
          &:hover {
            color: #33acb7;
          }
        }
      }
      .active {
        a {
          color: #33acb7;
          }
        }
      }
    }

    #main_content {
      width: 100%;
      background: #f5f7f9;
      #header {
      padding: 1em 3em;
      border-bottom: 1px solid #d6dce0;
      background: #f5f7f9;
      color: #9eafba;
      p {
        display: inline;
      }
      a {
        color: #9eafba;
        text-decoration: none;
      }
      .buttons {
        float: right;
        margin-top: -6px;
        .button {
          font-size: .8em;
          margin-left: .5em;
        }
      }
    }
  }

  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }

  .sidenav a {
      padding: 4px 4px 4px 32px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }

  .sidenav a:hover, .offcanvas a:focus{
      color: #f1f1f1;
  }

  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 15px;
  }

  #opennav {
    float: left;
    padding-left: 1em;
  }

  .sign_in {
    display: none !important;
  }

  #post_content {
    padding: 15px;
  }
  @media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px;}
    .sidenav a { font-size: 18px; }
  }
}